.Main {
    width: 90%;
}
.Main ul {
    margin: 0;
    padding: 10px;
    width: 80%;
  }

.Main li {
    list-style: none;
}

.addNote-button-container {
    max-width: 400px;
}

.addNote-button {
    border: 1px solid black;

}

